## Global Historical Climatology Network Dataset
Variables are stored in both rows and columns
This dataset represents the daily weather records for a weather station (MX17004) in Mexico for five months in 2010.

In [1]:
import pandas as pd

In [2]:
weather = pd.read_csv(r"./weather-raw.csv")

In [3]:
weather.head()

,id,year,month,element,d1,d2,d3,d4,d5,d6,...,d22,d23,d24,d25,d26,d27,d28,d29,d30,d31
0,MX17004,2010,1,tmax,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,27.8,NaN
1,MX17004,2010,1,tmin,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,14.5,NaN
2,MX17004,2010,2,tmax,NaN,27.3,24.1,NaN,NaN,NaN,...,NaN,29.9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,MX17004,2010,2,tmin,NaN,14.4,14.4,NaN,NaN,NaN,...,NaN,10.7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,MX17004,2010,3,tmax,NaN,NaN,NaN,NaN,32.1,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
df = weather.melt(id_vars = ["id", "year", "month", "element"], var_name = "day", value_name = "temp")

In [6]:
df

          id  year  month element  day  temp
0    MX17004  2010      1    tmax   d1   NaN
1    MX17004  2010      1    tmin   d1   NaN
2    MX17004  2010      2    tmax   d1   NaN
3    MX17004  2010      2    tmin   d1   NaN
4    MX17004  2010      3    tmax   d1   NaN
..       ...   ...    ...     ...  ...   ...
677  MX17004  2010     10    tmin  d31   NaN
678  MX17004  2010     11    tmax  d31   NaN
679  MX17004  2010     11    tmin  d31   NaN
680  MX17004  2010     12    tmax  d31   NaN
681  MX17004  2010     12    tmin  d31   NaN

[682 rows x 6 columns]

In [8]:
weather = w.pivot_table(index = ["id", "year", "month", "day"], values = "temp", columns = "element").reset_index()

In [9]:
weather

element       id  year  month  day  tmax  tmin
0        MX17004  2010      1  d30  27.8  14.5
1        MX17004  2010      2  d11  29.7  13.4
2        MX17004  2010      2   d2  27.3  14.4
3        MX17004  2010      2  d23  29.9  10.7
4        MX17004  2010      2   d3  24.1  14.4
5        MX17004  2010      3  d10  34.5  16.8
6        MX17004  2010      3  d16  31.1  17.6
7        MX17004  2010      3   d5  32.1  14.2
8        MX17004  2010      4  d27  36.3  16.7
9        MX17004  2010      5  d27  33.2  18.2
10       MX17004  2010      6  d17  28.0  17.5
11       MX17004  2010      6  d29  30.1  18.0
12       MX17004  2010      7   d3  28.6  17.5
13       MX17004  2010      7  d14  29.9  16.5
14       MX17004  2010      8  d23  26.4  15.0
15       MX17004  2010      8   d5  29.6  15.8
16       MX17004  2010      8  d29  28.0  15.3
17       MX17004  2010      8  d13  29.8  16.5
18       MX17004  2010      8  d25  29.7  15.6
19       MX17004  2010      8  d31  25.4  15.4
20       MX17004  2010      8   d8  29.0  17.3
21       MX17004  2010     10   d5  27.0  14.0
22       MX17004  2010     10  d14  29.5  13.0
23       MX17004  2010     10  d15  28.7  10.5
24       MX17004  2010     10  d28  31.2  15.0
25       MX17004  2010     10   d7  28.1  12.9
26       MX17004  2010     11   d2  31.3  16.3
27       MX17004  2010     11   d5  26.3   7.9
28       MX17004  2010     11  d27  27.7  14.2
29       MX17004  2010     11  d26  28.1  12.1
30       MX17004  2010     11   d4  27.2  12.0
31       MX17004  2010     12   d1  29.9  13.8
32       MX17004  2010     12   d6  27.8  10.5

In [10]:
weather["day"] = weather["day"].str.replace("d","").astype(int)

In [11]:
weather

element       id  year  month  day  tmax  tmin
0        MX17004  2010      1   30  27.8  14.5
1        MX17004  2010      2   11  29.7  13.4
2        MX17004  2010      2    2  27.3  14.4
3        MX17004  2010      2   23  29.9  10.7
4        MX17004  2010      2    3  24.1  14.4
5        MX17004  2010      3   10  34.5  16.8
6        MX17004  2010      3   16  31.1  17.6
7        MX17004  2010      3    5  32.1  14.2
8        MX17004  2010      4   27  36.3  16.7
9        MX17004  2010      5   27  33.2  18.2
10       MX17004  2010      6   17  28.0  17.5
11       MX17004  2010      6   29  30.1  18.0
12       MX17004  2010      7    3  28.6  17.5
13       MX17004  2010      7   14  29.9  16.5
14       MX17004  2010      8   23  26.4  15.0
15       MX17004  2010      8    5  29.6  15.8
16       MX17004  2010      8   29  28.0  15.3
17       MX17004  2010      8   13  29.8  16.5
18       MX17004  2010      8   25  29.7  15.6
19       MX17004  2010      8   31  25.4  15.4
20       MX17004  2010      8    8  29.0  17.3
21       MX17004  2010     10    5  27.0  14.0
22       MX17004  2010     10   14  29.5  13.0
23       MX17004  2010     10   15  28.7  10.5
24       MX17004  2010     10   28  31.2  15.0
25       MX17004  2010     10    7  28.1  12.9
26       MX17004  2010     11    2  31.3  16.3
27       MX17004  2010     11    5  26.3   7.9
28       MX17004  2010     11   27  27.7  14.2
29       MX17004  2010     11   26  28.1  12.1
30       MX17004  2010     11    4  27.2  12.0
31       MX17004  2010     12    1  29.9  13.8
32       MX17004  2010     12    6  27.8  10.5

In [12]:
import datetime as dt

In [13]:
weather ["Date"] = pd.to_datetime(weather.apply(lambda row: dt.date(row["year"],row["month"],row["day"]), axis = 1))

In [14]:
weather

element       id  year  month  day  tmax  tmin       Date
0        MX17004  2010      1   30  27.8  14.5 2010-01-30
1        MX17004  2010      2   11  29.7  13.4 2010-02-11
2        MX17004  2010      2    2  27.3  14.4 2010-02-02
3        MX17004  2010      2   23  29.9  10.7 2010-02-23
4        MX17004  2010      2    3  24.1  14.4 2010-02-03
5        MX17004  2010      3   10  34.5  16.8 2010-03-10
6        MX17004  2010      3   16  31.1  17.6 2010-03-16
7        MX17004  2010      3    5  32.1  14.2 2010-03-05
8        MX17004  2010      4   27  36.3  16.7 2010-04-27
9        MX17004  2010      5   27  33.2  18.2 2010-05-27
10       MX17004  2010      6   17  28.0  17.5 2010-06-17
11       MX17004  2010      6   29  30.1  18.0 2010-06-29
12       MX17004  2010      7    3  28.6  17.5 2010-07-03
13       MX17004  2010      7   14  29.9  16.5 2010-07-14
14       MX17004  2010      8   23  26.4  15.0 2010-08-23
15       MX17004  2010      8    5  29.6  15.8 2010-08-05
16       MX17004  2010      8   29  28.0  15.3 2010-08-29
17       MX17004  2010      8   13  29.8  16.5 2010-08-13
18       MX17004  2010      8   25  29.7  15.6 2010-08-25
19       MX17004  2010      8   31  25.4  15.4 2010-08-31
20       MX17004  2010      8    8  29.0  17.3 2010-08-08
21       MX17004  2010     10    5  27.0  14.0 2010-10-05
22       MX17004  2010     10   14  29.5  13.0 2010-10-14
23       MX17004  2010     10   15  28.7  10.5 2010-10-15
24       MX17004  2010     10   28  31.2  15.0 2010-10-28
25       MX17004  2010     10    7  28.1  12.9 2010-10-07
26       MX17004  2010     11    2  31.3  16.3 2010-11-02
27       MX17004  2010     11    5  26.3   7.9 2010-11-05
28       MX17004  2010     11   27  27.7  14.2 2010-11-27
29       MX17004  2010     11   26  28.1  12.1 2010-11-26
30       MX17004  2010     11    4  27.2  12.0 2010-11-04
31       MX17004  2010     12    1  29.9  13.8 2010-12-01
32       MX17004  2010     12    6  27.8  10.5 2010-12-06